[submodule "libProjects/android-validation-komensky"]
	path = libProjects/android-validation-komensky
	url = git@github.com:almozavr/android-validation-komensky.git
[submodule "libProjects/AndroidFloatLabel"]
	path = libProjects/AndroidFloatLabel
	url = git@github.com:almozavr/AndroidFloatLabel.git
