<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bridgecrm"
    >

    <!---->
    <!--Permissions-->
    <!---->

    <!-- Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!---->
    <!--App-->
    <!---->

    <application
        android:name="com.bridgecrm.App"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name="com.bridgecrm.ui.activity.LaunchActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/NoAnimTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bridgecrm.ui.activity.AuthActivity"
            android:label="@string/title_activity_auth"
            />
        <activity
            android:name="com.bridgecrm.ui.activity.MainActivity"
            android:label="@string/app_name"
            />

        <!---->
        <!-- Google Play services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"
            />

        <!---->
        <!-- Analytics -->
        <receiver
            android:name="com.bridgecrm.helper.InstallReceiver"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <!-- Used for Google Play Store Campaign Measurement -->

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

    </application>

</manifest>
